<div class="row">
  <div class="container">
    <div class="logo">
      <img src="../../../assets/APlogo.png" id="logoAP" />
    </div>
    <div class="redes">
           
      <a href=""><img src="../../../assets/facebook-square-brands.svg" id ="fb"></a>
      <a href=""><img src="../../../assets/github-square-brands.svg" id ="github"></a>
      <a href=""><img src="../../../assets/twitter-square-brands.svg" id ="twitter"></a>
      <a href=""><img src="../../../assets/instagram-square-brands.svg" id ="instagram"></a>
      <a href=""><img src="../../../assets/linkedin-brands.svg" id ="linkedin"></a>
      <button type="button" class="btn btn-outline-dark">INGRESO</button>
  </div>
</div>
  
</div>
